#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Tue Oct 22 16:08:09 2019

@author: mackenziemitchell
"""



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Skincare Recommender</title>

<style>
h1{color: #FFFFFF}
h2{color: #949494}
h4{color: #FFFFFF}
.content {
  max-width: 500px;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body style="background-color:powderblue;">

    <img src="{{url_for('static', filename='washing-face.jpg')}}" alt="fresh" width="800" class="center"/>
    <h1 style="text-align:center;">Find your perfect skincare routine!!</h1><br>
    <h2 style="text-align:center;">Please rate the following products:</h2>
    {% for i in range(0,3) %}  
        <h4 style="text-align:center;">{{to_rate[i][["prodName"]]}}</h4><br>  
        <form method="POST" name="rating" action="/" enctype="multipart/form-data" style="text-align:center;">
            <select id="rating" name="rating">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select><br><br>
        </form>
    {% endfor %}
    <button type="submit" class="center" onclick="window.location.href='{{url_for('/dash/')}}'">Submit</button>
</body>
</html>
