#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Oct 21 16:47:20 2019

@author: mackenziemitchell
"""
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SkinCare Recommender</title>
</head>
<body>

    <form method="POST" action="/">
        <h2>What is your skin type or skin problems? Select all that apply:</h2><br>
        Normal or Combination<input type="checkbox" value="normal" name="stype"> <br>
        Dry Skin<input type="checkbox" value="dry" name="stype"><br>
        Sensitive Skin<input type="checkbox" value="sensitive" name="stype"><br>
        Dark Circles<input type="checkbox" value="darkcircles" name="stype"><br>
        Redness or Discoloration<input type="checkbox" value="redness" name="stype"><br>
        Aging<input type="checkbox" value="age" name="stype"><br>
        Oily Skin<input type="checkbox" value="oily" name="stype"><br><br>
        <h2>What products are you looking for? Select all that apply:</h2><br>
        Cleanser<input type="checkbox" value="cleanser" name="stype"><br>
        Exfoliator<input type="checkbox" value="exfoliator" name="stype"><br>
        Makeup Remover <input type="checkbox" value="makeup-removers" name="stype"><br>
        Toner<input type="checkbox" value="toner" name="stype"><br>
        Mist<input type="checkbox" value="mist" name="stype"><br>
        Special Treatment<input type="checkbox" value="treatment" name="stype"><br>
        Serum<input type="checkbox" value="serum" name="stype"><br>
        Lotion<input type="checkbox" value="lotion" name="stype"><br>
        Moisturizer<input type="checkbox" value="moisturizer" name="stype"><br>
        Balm<input type="checkbox" value="balm" name="stype"><br>
        Oil<input type="checkbox" value="oil" name="stype"><br>
        Mask<input type="checkbox" value="mask" name="stype"><br>
        Peel<input type="checkbox" value="peel" name="stype"><br>
        Lip Product<input type="checkbox" value="lip" name="stype"><br>
        Eye Product<input type="checkbox" value="eye" name="stype"><br>
        Supplement<input type="checkbox" value="supplement" name="stype"><br>
        Tool<input type="checkbox" value="tool" name="stype"><br>
        <input type="submit">
</form>

</body>
</html>