#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Tue Oct 22 11:16:10 2019

@author: mackenziemitchell
"""

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Skincare Recommender</title>

<style>
h1{color: #00C4CA}
h2{color: #00C4CA}
.content {
  max-width: 500px;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

  </head>
  <body background="{{url_for('static', filename='backgr.jpg')}}">

    <img src="{{url_for('static', filename='washing-face.jpg')}}" alt="fresh" width="800" class="center"/>

    <h1 style="text-align:center;">Find your perfect skincare routine!!</h1>

    
    <form method="POST" style="text-align:center;" action="/">
         <h2 style="text-align:center;">Please enter a username:</h2><br>
        <input type="text" name="stype"><br>
        <h2 style="text-align:center;">What is your skin type or skin problems? Select all that apply:</h2><br>
        <input type="checkbox" value="normal" name="stype"> Normal or Combination<br>
        <input type="checkbox" value="dry" name="stype"> Dry Skin<br>
        <input type="checkbox" value="sensitive" name="stype"> Sensitive Skin<br>
        <input type="checkbox" value="darkcircles" name="stype"> Dark Circles<br>
        <input type="checkbox" value="redness" name="stype"> Redness or Discoloration<br>
        <input type="checkbox" value="age" name="stype"> Aging<br>
        <input type="checkbox" value="oily" name="stype"> Oily Skin<br>
        <h2>What products are you looking for? Select all that apply:</h2><br>
        <input type="checkbox" value="cleanser" name="stype"> Cleanser<br>
        <input type="checkbox" value="exfoliator" name="stype"> Exfoliator<br>
        <input type="checkbox" value="makeup-removers" name="stype"> Makeup Remover<br>
        <input type="checkbox" value="toner" name="stype"> Toner<br>
        <input type="checkbox" value="mist" name="stype"> Mist<br>
        <input type="checkbox" value="treatment" name="stype"> Special Treatment<br>
        <input type="checkbox" value="serum" name="stype"> Serum<br>
        <input type="checkbox" value="lotion" name="stype"> Lotion<br>
        <input type="checkbox" value="moisturizer" name="stype"> Moisturizer<br>
        <input type="checkbox" value="balm" name="stype"> Balm<br>
        <input type="checkbox" value="oil" name="stype"> Oil<br>
        <input type="checkbox" value="mask" name="stype"> Mask<br>
        <input type="checkbox" value="peel" name="stype"> Peel<br>
        <input type="checkbox" value="lip" name="stype"> Lip Product<br>
        <input type="checkbox" value="eye" name="stype"> Eye Product<br>
        <input type="checkbox" value="supplement" name="stype"> Supplement<br>
        <input type="checkbox" value="tool" name="stype"> Tool<br>
        <button type="button" onclick="window.location.href='{{url_for('new_ratings')}}'">Submit</button>
    </form>

    <a class="nav-item nav-link text-muted" href="dash/">Dashboard</a>
  </body>
</html>